.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Angular-WebAPI-EF6-FullStack/DesignTimeBuild/.dtbcache.v2
.vs/Angular-WebAPI-EF6-FullStack/v16/.suo
DataAcessLayer/bin/Debug/netcoreapp2.2/DataAcessLayer.dll
DataAcessLayer/bin/Debug/netcoreapp2.2/DataAcessLayer.pdb
DataAcessLayer/bin/Debug/netcoreapp2.2/DataAcessLayer.runtimeconfig.dev.json
DataAcessLayer/bin/Debug/netcoreapp2.2/DataModel.dll
DataAcessLayer/bin/Debug/netcoreapp2.2/DataModel.pdb
DataAcessLayer/obj/DataAcessLayer.csproj.nuget.dgspec.json
DataAcessLayer/obj/DataAcessLayer.csproj.nuget.g.props
DataAcessLayer/obj/DataAcessLayer.csproj.nuget.g.targets
DataAcessLayer/obj/project.assets.json
DataAcessLayer/obj/project.nuget.cache
DataAcessLayer/obj/Debug/netcoreapp2.2/DataAcessLayer.assets.cache
DataAcessLayer/obj/Debug/netcoreapp2.2/DataAcessLayer.csproj.CoreCompileInputs.cache
DataAcessLayer/obj/Debug/netcoreapp2.2/DataAcessLayer.csproj.FileListAbsolute.txt
DataAcessLayer/obj/Debug/netcoreapp2.2/DataAcessLayer.csprojAssemblyReference.cache
DataAcessLayer/obj/Debug/netcoreapp2.2/DataAcessLayer.dll
DataAcessLayer/obj/Debug/netcoreapp2.2/DataAcessLayer.pdb
DataAcessLayer/obj/Release/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
DataAcessLayer/obj/Release/netcoreapp2.2/DataAcessLayer.AssemblyInfo.cs
DataAcessLayer/obj/Release/netcoreapp2.2/DataAcessLayer.AssemblyInfoInputs.cache
DataAcessLayer/obj/Release/netcoreapp2.2/DataAcessLayer.assets.cache
WebAPI/bin/Debug/netcoreapp3.1/DataAcessLayer.dll
WebAPI/bin/Debug/netcoreapp3.1/DataAcessLayer.pdb
WebAPI/bin/Debug/netcoreapp3.1/DataModel.dll
WebAPI/bin/Debug/netcoreapp3.1/DataModel.pdb
WebAPI/bin/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/bin/Debug/netcoreapp3.1/WebAPI.exe
WebAPI/bin/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/bin/Debug/netcoreapp3.1/WebAPI.runtimeconfig.dev.json
WebAPI/obj/project.assets.json
WebAPI/obj/project.nuget.cache
WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
WebAPI/obj/WebAPI.csproj.nuget.g.props
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.assets.cache
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.CoreCompileInputs.cache
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.FileListAbsolute.txt
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csprojAssemblyReference.cache
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.exe
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
WebAPI/obj/Release/netcoreapp3.1/WebAPI.AssemblyInfo.cs
WebAPI/obj/Release/netcoreapp3.1/WebAPI.AssemblyInfoInputs.cache
WebAPI/obj/Release/netcoreapp3.1/WebAPI.assets.cache
DataAcessLayer/bin/Debug/netcoreapp2.2/DataAcessLayer.dll
DataAcessLayer/bin/Debug/netcoreapp2.2/DataAcessLayer.pdb
DataAcessLayer/bin/Debug/netcoreapp2.2/DataAcessLayer.runtimeconfig.dev.json
DataAcessLayer/bin/Debug/netcoreapp2.2/DataModel.dll
DataAcessLayer/bin/Debug/netcoreapp2.2/DataModel.pdb
DataAcessLayer/obj/DataAcessLayer.csproj.nuget.dgspec.json
DataAcessLayer/obj/DataAcessLayer.csproj.nuget.g.props
DataAcessLayer/obj/DataAcessLayer.csproj.nuget.g.targets
DataAcessLayer/obj/project.assets.json
DataAcessLayer/obj/project.nuget.cache
DataAcessLayer/obj/Debug/netcoreapp2.2/DataAcessLayer.assets.cache
DataAcessLayer/obj/Debug/netcoreapp2.2/DataAcessLayer.csproj.CoreCompileInputs.cache
DataAcessLayer/obj/Debug/netcoreapp2.2/DataAcessLayer.csproj.FileListAbsolute.txt
DataAcessLayer/obj/Debug/netcoreapp2.2/DataAcessLayer.csprojAssemblyReference.cache
DataAcessLayer/obj/Debug/netcoreapp2.2/DataAcessLayer.dll
DataAcessLayer/obj/Debug/netcoreapp2.2/DataAcessLayer.pdb
.vs/Angular-WebAPI-EF6-FullStack/DesignTimeBuild/.dtbcache.v2
.vs/Angular-WebAPI-EF6-FullStack/v16/.suo
DataModel/bin/Debug/DataModel.dll
DataModel/bin/Debug/DataModel.pdb
DataModel/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DataModel/obj/Debug/DataModel.csproj.CoreCompileInputs.cache
DataModel/obj/Debug/DataModel.csproj.FileListAbsolute.txt
DataModel/obj/Debug/DataModel.csprojAssemblyReference.cache
DataModel/obj/Debug/DataModel.dll
DataModel/obj/Debug/DataModel.pdb
DataModel/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DataModel/obj/Release/DataModel.csprojAssemblyReference.cache
WebAPI/bin/Debug/netcoreapp3.1/DataAcessLayer.dll
WebAPI/bin/Debug/netcoreapp3.1/DataAcessLayer.pdb
WebAPI/bin/Debug/netcoreapp3.1/DataModel.dll
WebAPI/bin/Debug/netcoreapp3.1/DataModel.pdb
WebAPI/bin/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/bin/Debug/netcoreapp3.1/WebAPI.exe
WebAPI/bin/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/bin/Debug/netcoreapp3.1/WebAPI.runtimeconfig.dev.json
WebAPI/obj/project.assets.json
WebAPI/obj/project.nuget.cache
WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
WebAPI/obj/WebAPI.csproj.nuget.g.props
WebAPI/obj/Debug/netcoreapp3.1/apphost.exe
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.assets.cache
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.CoreCompileInputs.cache
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.FileListAbsolute.txt
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csprojAssemblyReference.cache
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.exe
WebAPI/obj/Debug/netcoreapp3.1/WebAPI.pdb
/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.AssemblyReference.cache
/DataAcessLayer/obj/Debug/netcoreapp2.2/DataAcessLayer.csproj.AssemblyReference.cache
/DataAcessLayer/obj/Debug/netcoreapp2.2
/WebAPI/obj/Debug/netcoreapp3.1
/DataModel/obj/Debug
/WebAPI/bin/Debug/netcoreapp3.1
/DataAcessLayer/bin/Debug/netcoreapp2.2
/WebAPI/obj
